# Cấu hình kết nối tới NestJS Backend Server thực tế khi deploy Vercel
# Ví dụ VPS Linux: http://14.225.255.37:3000 hoặc Domain: https://dieuinnovationlab.com
NESTJS_BACKEND_URL=http://14.225.255.37:3000
NEXT_PUBLIC_API_URL=http://14.225.255.37:3000

# Secret Key (dùng cho Serverless Functions trên Vercel nếu cần)
JWT_ACCESS_KEY=Dp9xjFaNwBxS8RtnkwHVxM7QD4zM6aNr
